doctype html
html
    head
        script(async=true src="https://www.googletagmanager.com/gtag/js?id=UA-130953197-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-130953197-1');
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Niramit:200,400,700")
        block script
    body
        div#root