doctype html
html
    head
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Niramit:200,400,700")
        block script
    body
        div#root
