// primary color
$c-1-1000: rgba(27, 82, 126, 1.00);
$c-1-0900: rgba(27, 82, 126, 0.90);
$c-1-0800: rgba(27, 82, 126, 0.80);
$c-1-0700: rgba(27, 82, 126, 0.70);
$c-1-0600: rgba(27, 82, 126, 0.60);
$c-1-0500: rgba(27, 82, 126, 0.50);
$c-1-0400: rgba(27, 82, 126, 0.40);
$c-1-0300: rgba(27, 82, 126, 0.30);
$c-1-0200: rgba(27, 82, 126, 0.20);
$c-1-0100: rgba(27, 82, 126, 0.10);
$c-1-0050: rgba(27, 82, 126, 0.05);
// secondary color
$c-2-1000: rgba(86, 160, 219, 1.00);
$c-2-0900: rgba(86, 160, 219, 0.90);
$c-2-0800: rgba(86, 160, 219, 0.80);
$c-2-0700: rgba(86, 160, 219, 0.70);
$c-2-0600: rgba(86, 160, 219, 0.60);
$c-2-0500: rgba(86, 160, 219, 0.50);
$c-2-0400: rgba(86, 160, 219, 0.40);
$c-2-0300: rgba(86, 160, 219, 0.30);
$c-2-0200: rgba(86, 160, 219, 0.20);
$c-2-0100: rgba(86, 160, 219, 0.10);
$c-2-0050: rgba(86, 160, 219, 0.05);
// red color
$c-r-1000: rgba(242, 120, 96, 1.00);
$c-r-0900: rgba(242, 120, 96, 0.90);
$c-r-0800: rgba(242, 120, 96, 0.80);
$c-r-0700: rgba(242, 120, 96, 0.70);
$c-r-0600: rgba(242, 120, 96, 0.60);
$c-r-0500: rgba(242, 120, 96, 0.50);
$c-r-0400: rgba(242, 120, 96, 0.40);
$c-r-0300: rgba(242, 120, 96, 0.30);
$c-r-0200: rgba(242, 120, 96, 0.20);
$c-r-0100: rgba(242, 120, 96, 0.10);
$c-r-0050: rgba(242, 120, 96, 0.05);
// yellow color
$c-y-1000: rgba(255, 229, 92, 1.00);
$c-y-0900: rgba(255, 229, 92, 0.90);
$c-y-0800: rgba(255, 229, 92, 0.80);
$c-y-0700: rgba(255, 229, 92, 0.70);
$c-y-0600: rgba(255, 229, 92, 0.60);
$c-y-0500: rgba(255, 229, 92, 0.50);
$c-y-0400: rgba(255, 229, 92, 0.40);
$c-y-0300: rgba(255, 229, 92, 0.30);
$c-y-0200: rgba(255, 229, 92, 0.20);
$c-y-0100: rgba(255, 229, 92, 0.10);
$c-y-0050: rgba(255, 229, 92, 0.05);
// green color
$c-g-1000: rgba(18, 218, 87, 1.00);
$c-g-0900: rgba(18, 218, 87, 0.90);
$c-g-0800: rgba(18, 218, 87, 0.80);
$c-g-0700: rgba(18, 218, 87, 0.70);
$c-g-0600: rgba(18, 218, 87, 0.60);
$c-g-0500: rgba(18, 218, 87, 0.50);
$c-g-0400: rgba(18, 218, 87, 0.40);
$c-g-0300: rgba(18, 218, 87, 0.30);
$c-g-0200: rgba(18, 218, 87, 0.20);
$c-g-0100: rgba(18, 218, 87, 0.10);
$c-g-0050: rgba(18, 218, 87, 0.05);
// black color
$c-BK-1000: rgba(0, 0, 0, 1.00);
$c-BK-0900: rgba(0, 0, 0, 0.90);
$c-BK-0800: rgba(0, 0, 0, 0.80);
$c-BK-0700: rgba(0, 0, 0, 0.70);
$c-BK-0600: rgba(0, 0, 0, 0.60);
$c-BK-0500: rgba(0, 0, 0, 0.50);
$c-BK-0400: rgba(0, 0, 0, 0.40);
$c-BK-0380: rgba(0, 0, 0, 0.38);
$c-BK-0350: rgba(0, 0, 0, 0.35);
$c-BK-0300: rgba(0, 0, 0, 0.30);
$c-BK-0200: rgba(0, 0, 0, 0.20);
$c-BK-0100: rgba(0, 0, 0, 0.10);
$c-BK-0050: rgba(0, 0, 0, 0.05);
// black color
$c-WE-1000: rgba(255, 255, 255, 1.00);
$c-WE-0900: rgba(255, 255, 255, 0.90);
$c-WE-0850: rgba(255, 255, 255, 0.85);
$c-WE-0800: rgba(255, 255, 255, 0.80);
$c-WE-0700: rgba(255, 255, 255, 0.70);
$c-WE-0600: rgba(255, 255, 255, 0.60);
$c-WE-0500: rgba(255, 255, 255, 0.50);
$c-WE-0400: rgba(255, 255, 255, 0.40);
$c-WE-0300: rgba(255, 255, 255, 0.30);
$c-WE-0200: rgba(255, 255, 255, 0.20);
$c-WE-0150: rgba(255, 255, 255, 0.15);
$c-WE-0100: rgba(255, 255, 255, 0.10);
$c-WE-0050: rgba(255, 255, 255, 0.05);
// transparent color
$c-transparent: rgba(0, 0, 0, 0.0);









