$screen-xxs: 390px;
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xlg: 1448px;

/*
template below
@import "substyles/screen_sizes";
@media (max-width: $screen-xxs) {}
@media (min-width: $screen-xxs) and (max-width: $screen-xs) {}
@media (min-width: $screen-xs) and (max-width: $screen-sm) {}
@media (min-width: $screen-sm) and (max-width: $screen-md) {}
@media (min-width: $screen-md) and (max-width: $screen-lg) {}
@media (min-width: $screen-lg) {}
*/

.block-align-center-responsive {
  margin: 0 auto;
}


@media (max-width: $screen-xxs) {
  .block-align-center-responsive {
    width: 96%;
  }
}
@media (min-width: $screen-xxs) and (max-width: $screen-xs) {
  .block-align-center-responsive {
    width: 92%;
  }
}
@media (min-width: $screen-xs) and (max-width: $screen-sm) {
  .block-align-center-responsive {
    width: 84%;
  }
}
@media (min-width: $screen-sm) and (max-width: $screen-md) {
  .block-align-center-responsive {
    width: 80%;
  }
}
@media (min-width: $screen-md) and (max-width: $screen-lg) {
  .block-align-center-responsive {
    width: 74%;
  }
}
@media (min-width: $screen-lg) {
  .block-align-center-responsive {
    width: 64%;
  }
}