@import "predict_page";

#root-init {
  #generate-page {
    text-align: center;
  }
}

.generator-prediction {
  padding: 1rem;
  margin: 0 auto;
  width: 60%;
  span {
    font-weight: 700;
    display: block;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 1rem;
  }
}

.generator-length {
  font-size: 1.5rem;
  display: inline-block;
  .generator-length-label {
    display: inline-block;
  }
  .generator-length-input {
    font-size: 1.5rem;
    text-align: center !important;
    max-width: 5rem;
    border: 2px solid $c-1-0700;
    border-radius: 5px;
    padding: 0.15rem 0 0.15rem 0.76rem;
  }

  .generator-length-input:focus, .generator-length-input:hover {
    background-color: $c-BK-0050;
  }
}