#root-init {
  #home-page {
    text-align: center;
    padding: 1rem 0;
    .home-page-block {
      padding: 1rem 0.5rem 2rem 0.5rem;
    }
    font-size: 1.12rem;

    #home-page-logo {
      margin: 0 auto;
      text-align: center;
      img {
        max-height: 12rem;
      }
    }
  }
}