@import "substyles/screen_sizes";

.horizontal-split-div-parent {
  margin: 0 auto;
  .horizontal-split-div {
    display: inline-block;
    vertical-align: top;
  }
  .horizontal-split-div-1 {
    width: 100%;
  }
  .horizontal-split-div-2 {
    width: 50%;
  }
  .horizontal-split-div-3 {
    width: 33.3%;
  }
  .horizontal-split-div-4 {
    width: 25%;
  }
  .horizontal-split-div-5 {
    width: 20%;
  }
  .horizontal-split-div-6 {
    width: 16.6%;
  }
}

@media (max-width: $screen-sm) {
  .horizontal-split-div-parent {
    .horizontal-split-div {
      display: block;
      width: 100%;
    }
  }
}

//@media (min-width: $screen-xs) and (max-width: $screen-sm) {}
//@media (min-width: $screen-sm) and (max-width: $screen-md) {}
//@media (min-width: $screen-md) and (max-width: $screen-lg) {}
//@media (min-width: $screen-lg) {}
