@import "substyles/colors";

.line-break {
  padding: 1.25rem 1rem 0.75rem 1rem;
  display: block;
  div {
    display: block;
    min-height: 3px;
    border-radius: 100rem;
    background-color: $c-BK-0100;
  }
}