/**
 * all pages will just share the same css. if needed, we can split it up.
 *
 * some maps used in comments to keep them short:
 * - $SO = https://stackoverflow.com
 * whenever you see these symbols, replace them with the appropriate mapping
 */

// #B0D1F0 nice color for bkg for predict icons
@import "substyles/colors";

* {
  font-family: 'Niramit', sans-serif;
  transition: all 100ms;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  #root {
    /*
     * root-init
     * the content of the page is rendered here, outside of root-init we have the
     * navigation bar and the footer.
     */
    #root-init {
      .page-wrapper {
        padding: 1rem 0;
        text-align: center;
      }
    }
  }
}

#nav-bar {
  padding: 1rem;
  background-color: $c-1-1000;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0.25rem 0;
    overflow: hidden;
    // these are elements of type li
    .navbar-option {
      padding: 0.25rem 0 0.32rem 0;
      float: left;
      border-radius: 3px;
      margin: 0 0.1rem;
      border-bottom: 2px solid rgba(0,0,0,0);
      a {
        display: block;
        color: white;
        text-align: center;
        padding: 0 0.5rem;
        text-decoration: none;
      }
    }
    .navbar-option:hover {
      background-color: $c-2-0800;
    }

    .navbar-option-active-tab {
      background-color: $c-2-0600;
      border: 1px solid $c-WE-0150;
      box-shadow: inset 0 0 0.25rem $c-WE-0300;
    }
  }
}

// todo - make footer sticky bottom of the page
// $SO/questions/18739937/how-to-keep-footer-at-bottom-of-screen
#footer {
  background-color: $c-1-1000;
  position: relative;
  padding: 1.5rem;
  color: white;
  text-align: center;
  font-weight: 700;
  * {
    color: white;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      a {
        display: inline-block;
        color: white;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}