@import "substyles/colors";

.notice-box-wrapper {
  margin-top: 0.5rem;
  color: white;
  font-weight: 700;
  .notice-box-close {
    font-size: 0.8rem;
    text-align: right;
    padding-bottom: 2px;
    input[type=button] {
      border: none;
      font-weight: 700;
      text-align: center;
      display: inline-block;
      background-color: $c-WE-0900;
      border-radius: 5px;
      line-height: 1;
      padding-bottom: 2.5px;
    }
  }

  .notice-box {
    padding: 0.5rem;
    border-radius: 5px;
  }
  .notice-box-information {
    background-color: $c-g-0800;
  }
  .notice-box-warning {
    background-color: $c-y-0800;
  }
  .notice-box-error {
    background-color: $c-r-0800;
  }
}