#root-init {
  #predict-page {
    text-align: center;
  }
}

.predict-intro-text-wrapper {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.text-area-predict-wrapper {
  margin: 0 auto;
  text-align: center;
  textarea {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    resize: none;
    height: 8rem;
    font-size: 1.25rem;
  }
  padding-bottom: 1rem;
}

.button-predict-wrapper {
  margin: 0 auto;
  text-align: center;
  button {
    background-color: black;
    color: white;
    border: none;
    font-size: 1.25rem;
    padding: 0.35rem 1rem 0.5rem 1rem;
    border-radius: 100rem;
  }
  padding-bottom: 1rem;
}

