@import "substyles/screen_sizes";
@import "substyles/colors";

#root-init {
  #predict-page {
  }
}

.predict-intro-text-wrapper {
  @extend .block-align-center-responsive;
  margin: 0 auto;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.predict-text-wrapper {
  @extend .block-align-center-responsive;
  margin: 0 auto;
  font-size: 1.12rem;
}

.text-area-predict-wrapper {
  @extend .block-align-center-responsive;
  display: block;
  margin: 0 auto;
  textarea {
    width: 100%;
    margin: 0 auto;
    resize: none;
    height: 8rem;
    font-size: 1.25rem;
    border: 2px solid $c-1-0700;
    border-radius: 5px;
    padding: 0.35rem;
  }
  textarea:focus, textarea:hover {
    background-color: $c-BK-0050;
  }
  padding-bottom: 1rem;
}

.button-predict-wrapper {
  @extend .block-align-center-responsive;
  margin: 0 auto;
  button {
    background-color: $c-1-1000;
    color: white;
    border: none;
    font-size: 1.25rem;
    padding: 0.35rem 1rem 0.5rem 1rem;
    border-radius: 4px;
  }
  button[disabled], button[disabled=true] {
    background-color: $c-BK-0500;
    color: $c-WE-0700;
  }
  padding-bottom: 1rem;
}

